name: github pages publish
on:
  push:
    branches:
      - main
jobs:
  Publish-Portfolio:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install pnpm
        run: npm install -g pnpm
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: "package.json"
      - name: Install dependencies
        run: pnpm install
      - name: Build project
        run: pnpm build
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
